
p{
margin-bottom: 2px;

}
.container{
	margin: auto;
	background-color: #f3f3f3
}
.boton{
	margin: 40px auto 30px auto;
	display: block;
}



.citas {
    border-radius: 37px;
    width: 90%;
    margin: 18px auto;
}
.titulo h3{
color:#0033A0;
 padding: 5px;
	
}

